[http]
	sslcainfo = /etc/ssl/certs/ca-certificates.crt
[user]
	name = Daniel Topa
	email = daniel.topa@baesystems.us
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[credential]
	helper = store
