[http]
	sslcainfo = /etc/ssl/certs/ca-certificates.crt
[user]
	name = Daniel Topa
	email = dantopa@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = auto
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[credential]
	helper = store
